[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/JoltPhysics"]
	path = vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "vendor/GameNetworkingSockets"]
	path = vendor/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy
